*{
    margin: 0px;
    padding: 0px;
}
.box{
    background-color: #219ebc; 
    /* background: rgb(255,172,208);
background: radial-gradient(circle, rgba(255,172,208,1) 0%, rgba(34,90,157,1) 100%); */ 
   height: 100px;
   margin: 0px;
   padding:0px;
}
.card {
    margin-left: 20px;
    height: 450px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    text-align: center;
  }
  img {
    width: 150px;
    height: 250px;
    /* border-radius: 50%; */
    margin-bottom: 20px;
    /* object-fit: cover; */
  }